ind: NetworkPolicy
apiVersion: extensions/v1beta1
metadata:
  name: db-access
spec:
  podSelector:
    matchLabels:
      app: dave
      layer: db
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app: dave
            layer: api
