kind: NetworkPolicy
apiVersion: extensions/v1beta1
metadata:
  name: dave-store-manager-access
  namespace: {{ namespace }}
spec:
  podSelector:
    matchLabels:
      app: dave
      layer: db
      project: dave
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app: dave
            layer: api
            project: dave
      - podSelector:
          matchLabels:
            app: dave
            layer: loader
            project: dave
