ind: NetworkPolicy
apiVersion: extensions/v1beta1
metadata:
  name: ui-access
spec:
  podSelector:
    matchLabels:
      app: dave
      layer: frontend
  ingress:
    - from:
#      - podSelector:
#          matchLabels:
#            app: dave
#            layer: api
