apiVersion: v1
kind: ConfigMap
metadata:
  name: dave-ui
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: frontend
    project: dave
data:
  dave.api: "https://{{ api_dns }}"
  dave.auth: "https://{{ auth_dns }}/auth/realms/DAVe/protocol/openid-connect"
  dave.auth_client_id: "{{ auth_client_id }}"
  http.compression: "1"
