apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dave-ui
  labels:
    app: dave
    layer: frontend
    project: dave
  namespace: {{ namespace }}
spec:
  replicas: 3
  template:
    metadata:
      name: dave-ui
      labels:
        name: dave-ui
        app: dave
        layer: frontend
        project: dave
    spec:
      serviceAccount: dave-ui
      containers:
        - image: scholzj/dave-ui:{{ release }}
          name: dave-ui
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 128Mi
          env:
            - name: DAVE_REST_URL
              valueFrom:
                configMapKeyRef:
                  name: dave-ui
                  key: dave.api
            - name: DAVE_HTTP_COMPRESSION
              valueFrom:
                configMapKeyRef:
                  name: dave-ui
                  key: http.compression
            - name: DAVE_HTTP_SSL_SERVER_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: dave-ui
                  key: http.public_key
            - name: DAVE_HTTP_SSL_SERVER_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: dave-ui
                  key: http.private_key
          ports:
            - containerPort: 80
              name: http
            - containerPort: 443
              name: https
