# The secrets should be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: dave-ui
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: frontend
    project: dave
data:
  http.private_key: {{ lookup('file', ui_key_path) | b64encode }}
  http.public_key: {{ lookup('file', ui_cert_path) | b64encode }}
