apiVersion: v1
kind: ConfigMap
metadata:
  name: dave-api
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: api
    project: dave
data:
  java.opts: "-Xmx=512m"
  log.level: "INFO"
  http.enable: "TRUE"
  http.compression: "TRUE"
  http.auth: "TRUE"
  http.cors: "TRUE"
  http.cors_origin: "*"
  http.jwt_permissions_claim_key: "{{ jwt_permissions_claim_key }}"
