# The secrets should be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: dave-api
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: api
    project: dave
data:
  http.auth_salt: {{ auth_salt | b64encode }}
  http.private_key: {{ lookup('file', api_key_path) | b64encode }}
  http.public_key: {{ lookup('file', api_cert_path) | b64encode }}
  jwt.keystore: {{ jwt_keystore_base64.stdout | b64encode }}
  jwt.keystore_password: {{ jwt_keystore_password | b64encode }}
