# The secrets should be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: dave-api
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: api
    project: dave
data:
  api.ssl_key: {{ lookup('file', api_key_path_pkcs8) | b64encode }}
  api.ssl_cert: {{ lookup('file', api_full_chain) | b64encode }}
  api.auth_jwt_public_key: {{ jwt_public_key | b64encode }}
  storemanager.ssl_key: {{ lookup('file', dave_api_ssl_key) | b64encode }}
  storemanager.ssl_cert: {{ lookup('file', dave_api_ssl_cert) | b64encode }}
  storemanager.ssl_trust_certs: {{ lookup('file', ca_public_key) | b64encode }}
