apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dave-api
  labels:
    app: dave
    layer: api
    project: dave
  namespace: {{ namespace }}
spec:
  replicas: 1
  template:
    metadata:
      name: dave-api
      labels:
        name: dave-api
        app: dave
        layer: api
        project: dave
      #annotations:
      #  container.apparmor.security.beta.kubernetes.io/dave-api: runtime/default
      #  container.apparmor.seccomp.beta.kubernetes.io/dave-api: docker/default
    spec:
      serviceAccount: dave-api
      containers:
        - image: dbgdave/dave-api:{{ api_release }}
          name: dave-api
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 2Gi
          env:
            - name: JAVA_OPTS
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: java.opts
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: log.level
            - name: API_AUTH
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: api.auth
            - name: API_AUTH_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: dave-api
                  key: api.auth_jwt_public_key
            - name: API_CSRF
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: api.csfr
            - name: API_CSRF_SECRET
              valueFrom:
                secretKeyRef:
                  name: dave-api
                  key: api.csrf_secret
            - name: API_AUTH_PERMISSIONS_CLAIM_KEY
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: api.auth_jwt_permissions_claim_key
            - name: API_SSL
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: api.ssl
            - name: API_SSL_CLIENT_AUTH
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: api.ssl_client_auth
            - name: API_SSL_CERT
              valueFrom:
                secretKeyRef:
                  name: dave-api
                  key: api.ssl_cert
            - name: API_SSL_KEY
              valueFrom:
                secretKeyRef:
                  name: dave-api
                  key: api.ssl_key
            - name: API_COMPRESSION
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: api.compression
            - name: API_CORS
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: api.cors
            - name: API_CORS_ORIGIN
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: api.cors_origin
            - name: STOREMANAGER_HOSTNAME
              value: dave-store-manager
            - name: STOREMANAGER_PORT
              value: "443"
            - name: STOREMANAGER_SSL_KEY
              valueFrom:
                secretKeyRef:
                  name: dave-api
                  key: storemanager.ssl_key
            - name: STOREMANAGER_SSL_CERT
              valueFrom:
                secretKeyRef:
                  name: dave-api
                  key: storemanager.ssl_cert
            - name: STOREMANAGER_SSL_TRUST_CERTS
              valueFrom:
                secretKeyRef:
                  name: dave-api
                  key: storemanager.ssl_trust_certs
            - name: STOREMANAGER_SSL_VERIFY_HOST
              valueFrom:
                configMapKeyRef:
                  name: dave-api
                  key: storemanager.ssl_verify_host
          ports:
            - containerPort: 8443
              name: https
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
          readinessProbe:
            httpGet:
              path: /readiness
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
