# The secrets should be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: dave-api
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: api
    project: dave
data:
  http.private_key: {{ lookup('file', api_key_path) | b64encode }}
  http.public_key: {{ lookup('file', api_cert_path) | b64encode }}
  http.jwt_public_key: {{ jwt_public_key | b64encode }}
