apiVersion: v1
kind: ConfigMap
metadata:
  name: dave-api
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: api
    project: dave
data:
  java.opts: "-Xmx512m"
  log.level: "INFO"
  api.ssl: "TRUE"
  api.ssl_client_auth: "FALSE"
  api.compression: "TRUE"
  api.auth: "TRUE"
  api.auth_jwt_permissions_claim_key: "{{ jwt_permissions_claim_key }}"
  api.cors: "TRUE"
  api.cors_origin: "*"
  storemanager.ssl_verify_host: "FALSE"
