apiVersion: v1
kind: Service
metadata:
  labels:
    app: dave
    layer: api
    project: dave
  annotations:
    external-dns.alpha.kubernetes.io/hostname: {{ api_dns }}.
  name: dave-api
  namespace: {{ namespace }}
spec:
  ports:
    - name: https
      port: 443
      targetPort: 8443
  selector:
    name: dave-api
  type: LoadBalancer
