{
   "CN": "dave-api",
   "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "DE",
            "L": "Eschborn",
            "O": "Deutsche Boerse AG",
            "OU": "Risk"
        }
    ]
}
