# The secrets should be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: dave-margin-loader
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: loader
    project: dave
data:
  margin_loader.amqp_password: {{ cil_password | b64encode }}
  storemanager.ssl_key: {{ lookup('file', dave_margin_loader_ssl_key) | b64encode }}
  storemanager.ssl_cert: {{ lookup('file', dave_margin_loader_ssl_cert) | b64encode }}
  storemanager.ssl_trust_certs: {{ lookup('file', ca_public_key) | b64encode }}
