apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dave-margin-loader
  labels:
    app: dave
    layer: loader
    project: dave
  namespace: {{ namespace }}
spec:
  replicas: 1
  template:
    metadata:
      name: dave-margin-loader
      labels:
        name: dave-margin-loader
        app: dave
        layer: loader
        project: dave
      #annotations:
      #  container.apparmor.security.beta.kubernetes.io/dave-api: runtime/default
      #  container.apparmor.seccomp.beta.kubernetes.io/dave-api: docker/default
    spec:
      serviceAccount: dave-margin-loader
      containers:
        - image: dbgdave/dave-margin-loader:{{ margin_loader_release }}
          name: dave-margin-loader
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 2Gi
          env:
            - name: JAVA_OPTS
              valueFrom:
                configMapKeyRef:
                  name: dave-margin-loader
                  key: java.opts
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: dave-margin-loader
                  key: log.level
            - name: AMQP_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: dave-margin-loader
                  key: margin_loader.amqp_hostname
            - name: AMQP_PORT
              valueFrom:
                configMapKeyRef:
                  name: dave-margin-loader
                  key: margin_loader.amqp_port
            - name: AMQP_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: dave-margin-loader
                  key: margin_loader.amqp_username
            - name: AMQP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dave-margin-loader
                  key: margin_loader.amqp_password
            - name: STOREMANAGER_HOSTNAME
              value: dave-store-manager
            - name: STOREMANAGER_PORT
              value: "443"
            - name: STOREMANAGER_SSL_KEY
              valueFrom:
                secretKeyRef:
                  name: dave-api
                  key: storemanager.ssl_key
            - name: STOREMANAGER_SSL_CERT
              valueFrom:
                secretKeyRef:
                  name: dave-margin-loader
                  key: storemanager.ssl_cert
            - name: STOREMANAGER_SSL_TRUST_CERTS
              valueFrom:
                secretKeyRef:
                  name: dave-margin-loader
                  key: storemanager.ssl_trust_certs
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
          readinessProbe:
            httpGet:
              path: /readiness
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
