apiVersion: v1
kind: ConfigMap
metadata:
  name: dave-margin-loader
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: loader
    project: dave
data:
  java.opts: "-Xmx768m -XX:MaxDirectMemorySize=768m"
  log.level: "INFO"
  margin_loader.amqp_username: "{{ cil_username }}"
  margin_loader.amqp_hostname: "{{ cil_hostname }}"
  margin_loader.amqp_port: "{{ cil_port }}"