apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: dave-margin-loader
  namespace: {{ namespace }}
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: dave-margin-loader
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 75
