apiVersion: v1
kind: Service
metadata:
  labels:
    app: dave
    layer: db
    project: dave
  name: dave-store-manager
  namespace: {{ namespace }}
spec:
  ports:
    - name: https
      port: 443
      targetPort: 8443
  selector:
    name: dave-store-manager
  type: ClusterIP
