apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: dave-store-manager
  namespace: {{ namespace }}
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: dave-store-manager
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 75
