# The secrets should be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: dave-store-manager
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: db
    project: dave
data:
  api.ssl_key: {{ lookup('file', dave_store_manager_ssl_key) | b64encode }}
  api.ssl_cert: {{ lookup('file', dave_store_manager_ssl_cert) | b64encode }}
  api.ssl_trust_certs: {{ lookup('file', ca_public_key) | b64encode }}
