apiVersion: v1
kind: ConfigMap
metadata:
  name: dave-store-manager
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: db
    project: dave
data:
  java.opts: "-Xmx768m"
  log.level: "INFO"
  mongo.name: "{{ database_name }}"
  mongo.connection_url: "{{ database_connection_url }}"
  api.ssl_require_client_auth: "true"
