apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dave-store-manager
  labels:
    app: dave
    layer: db
    project: dave
  namespace: {{ namespace }}
spec:
  replicas: 3
  template:
    metadata:
      name: dave-store-manager
      labels:
        name: dave-store-manager
        app: dave
        layer: db
        project: dave
      annotations:
        container.apparmor.security.beta.kubernetes.io/dave-store-manager: runtime/default
        container.apparmor.seccomp.beta.kubernetes.io/dave-store-manager: docker/default
    spec:
      serviceAccount: dave-store-manager
      containers:
        - image: dbgdave/dave-store-manager:{{ store_manager_release }}
          name: dave-store-manager
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
          env:
            - name: JAVA_OPTS
              valueFrom:
                configMapKeyRef:
                  name: dave-store-manager
                  key: java.opts
            - name: DAVE_LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: dave-store-manager
                  key: log.level
            - name: DAVE_MONGO_DB
              valueFrom:
                configMapKeyRef:
                  name: dave-store-manager
                  key: db.name
            - name: DAVE_MONGO_CONNECTION_URL
              valueFrom:
                configMapKeyRef:
                  name: dave-store-manager
                  key: db.connection_url
            - name: DAVE_HTTP_SSL_REQUIRE_CLIENT_AUTH
              valueFrom:
                configMapKeyRef:
                  name: dave-store-manager
                  key: http.ssl_require_client_auth
            - name: DAVE_HTTP_SSL_SERVER_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: dave-store-manager
                  key: http.public_key
            - name: DAVE_HTTP_SSL_SERVER_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: dave-store-manager
                  key: http.private_key
            - name: DAVE_HTTP_SSL_TRUST_CERTS
              valueFrom:
                secretKeyRef:
                  name: dave-store-manager
                  key: http.trusted_ca
          ports:
            - containerPort: 8080
              name: https
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTPS
            initialDelaySeconds: 30
          readinessProbe:
            httpGet:
              path: /readiness
              port: 8080
              scheme: HTTPS
            initialDelaySeconds: 30
