kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1alpha1
metadata:
  name: dave-store-manager
  labels:
    app: dave
    layer: db
    project: dave
  namespace: {{ namespace }}
subjects:
  - kind: ServiceAccount
    name: dave-store-manager
    namespace: {{ namespace }}
roleRef:
  kind: Role
  name: dave-store-manager
  apiGroup: rbac.authorization.k8s.io
