# The secrets should be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: dave-store-manager
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: db
    project: dave
data:
  http.private_key: {{ lookup('file', dave_store_manager_ssl_key) | b64encode }}
  http.public_key: {{ lookup('file', dave_store_manager_ssl_cert) | b64encode }}
  http.trusted_ca: {{ lookup('file', ca_public_key) | b64encode }}
