---

##########
# Kubernetes configuration
##########

# Namespace into which the application should be deployed
namespace: master

##########
# Software versions for deployment
##########

# Release / Which tag should be used in the deployment (Docker image tag, not GitHub tag)
api_release: master
ui_release: master
store_manager_release: master
margin_loader_release: master

##########
# Domain names
##########

# Domain name for the application
dns_zone: dbg-devops.com
ui_dns: master.snapshot.dave.dbg-devops.com
api_dns: api.master.snapshot.dave.dbg-devops.com

##########
# SSL certificates for external communication
##########

# Let's Encrypt
# If full chain cert is defined, it will be merged into the public key
full_chain_cert: https://letsencrypt.org/certs/lets-encrypt-x3-cross-signed.pem.txt

letsencrypt_account_key_path: ./account.key
acme_directory: https://acme-v01.api.letsencrypt.org/directory # Production
# acme_directory: https://acme-staging.api.letsencrypt.org/directory # Staging

# External SSL certificates
api_key_path: ./api.master.key
api_cert_path: ./api.master.crt
ui_key_path: ./ui.master.key
ui_cert_path: ./ui.master.crt

##########
# SSL certificates for internal communication
##########

# Internal SSL CA
ca_dir: ./ca-master/

##########
# Authentication
##########

# URL of the authentication server
auth_dns: auth.dave.dbg-devops.com

# OAuth / OpenID Connect client ID
auth_client_id: dave-ui

# Key for veryfing JWT tokens
jwt_public_key: "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnSurUgy/OGvmlIEOS++tjW8TgIAZxUdxCCwmW2MUUPo4jx+xgVtd9b6S+HpYsH1bJoW1EGSCmriW5XxM/8WQgamBGhITN+/RFSCYkWigpgAD2MWjln5VydO3DjCnzq0VFFSo9tHmgKlEHPSHr/KNHg9686Zcfv9s/HtqnE/igJIScNqFmSZXDM9HcA7H08J+Cpzm0tw5ZoDOkc6him0se5ebjwf1jkEnjBnvXePaSjB3zk2PdM8RUNSAq3ea6kqBpn+H1ousso4q+ssXxvbCRlPQJzenGAr09dYMb37L3C3FJi5XWMxkr/w+ULaqAb+8qc28SJwh2K4RWcGFBJ5CpwIDAQAB"

# Where to find the authorization roles in the JWT key
jwt_permissions_claim_key: "realm_access/roles"

##########
# CIL broker
##########

# Connection details for the CIL AMQP broker
cil_hostname: "prmbgc02.xeop.de"
cil_port: "22201"
cil_username: "DAVE"
cil_password: "DAVE"

##########
# Database
##########

# Database (MongoDB) configuration
database_name: DAVe-master
# URL for connectiong to the databse. If defined, the database deployment will be skipped.
#database_url: mongodb://mongo.default:27017/
# URL when tared and gziped unload of the database can be doanloaded and loaded into the database
db_unload_url: https://s3-eu-west-1.amazonaws.com/dave-demo-test-data/dave20.tar.gz
# Path under which the actual unload files are stored in the archive
db_unload_path: "mongo/DAVe"
