apiVersion: v1
kind: ServiceAccount
metadata:
  name: dave-mongo
  labels:
    app: mongo
    layer: db
    project: dave
  namespace: {{ namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: dave-mongo
  namespace: {{ namespace }}
rules:
- apiGroups:
  - ""
  resources:
  - services
  - pods
  verbs:
  - get
  - list
  - watch

---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: dave-mongo-binding
  namespace: {{ namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: dave-mongo
subjects:
  - kind: ServiceAccount
    name: dave-mongo
    namespace: {{ namespace }}
