apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-quota
spec:
  hard:
    cpu: "20"
    memory: 20Gi
    requests.cpu: "5"
    requests.memory: 10Gi
    limits.cpu: "20"
    limits.memory: 20Gi
    pods: "30"
