apiVersion: v1
kind: ResourceQuota
metadata:
  name: dave-resource-quota
spec:
  hard:
    services: "4"
    pods: "30"
    requests.cpu: "5"
    requests.memory: 10Gi
    limits.cpu: "20"
    limits.memory: 20Gi
